<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Student</title>
</head>
<body>
    <div class="form-container">
        <h2>Search Student</h2>
        <form action="/searchStudent" method="get">
            <div class="form-group">
                <label for="roll" >Enter roll :</label>
                <input type="text" id=" roll" name="roll" required>
                <br><br>
            </div>    
            <input type="submit">        
        </form>
     </div> 
</body>
</html>